<div class="mdl-card mdl-shadow--4dp" style='width:{{width}}px; height:{{width+88}}px;overflow-y:scroll;'>
  <div style="padding-left:3em;padding-right:3em;">
    <h6>{{locName}}</h6>
  </div>

  <div class="mdl-card__media" style="background-color:rgba(139, 195, 74, 1);color:white;" align="center">
    <img src={{url}}>
  </div>

  <div style="padding-left:3em;padding-right:3em;">
    <h3>{{desc}}</h3>
  </div>

  <div class="mdl-card__actions">
    <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
        More
        <i class="material-icons">chevron_right</i>
    </a>
  </div>
</div>
