<!--<div class="mdl-card mdl-shadow--4dp" style='width:{{width}}px; height:{{width+70}}px;'>-->
<div class="mdl-card mdl-shadow--4dp" style="width:auto;height:500px;min-height:300px;">
  <div class="mdl-card__media" style="background-color:rgba(139, 195, 74, 1);color:white;" align="center">
    <h6>{{locName}}</h6>

    <img src={{url}} style="width: 100%;height: auto;"\>
  </div>

  <div class="mdl-card__supporting-text" style='overflow-y:scroll;margin-bottom:53px;'>
    <p>{{desc}}</p>
  </div>

  <div class="loc-card__actions mdl-card__actions mdl-card--border" style="background-color:#fff;">
    <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
      More
      <i class="material-icons">chevron_right</i>
    </a>
  </div>
</div>
