<div class="mdl-card mdl-shadow--4dp" style="width:auto;height:{{viewerHeight+150}}px;min-height:300px;">
  <div class="mdl-card__media" style="background-color:rgba(139, 195, 74, 1);color:white;" align="center">
    <h5 align="left" style="margin-left:2em;">
      {{molName}}

      <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="descriptionShown = !descriptionShown" style="margin-left:3em;">
        <i class="material-icons" title="View Molecule">remove_red_eye</i>
      </button>

      <button ng-show="playlistEdit" class="mdl-button mdl-js-button mdl-button--icon" ng-click="addToPlaylist()">
        <i class="material-icons" title="View Molecule">add</i>
      </button>
    </h5>
  </div>

  <div ng-show="descriptionShown" class="mdl-card__supporting-text" style='overflow-y:scroll;margin-bottom:53px;'>
    <h6 align="center" style="margin:0; padding-top:1em;"><b>Description</b></h6>
    <p align="center" style="margin:0; padding-top:0;">{{desc}}</p>
    <h6 align="center" style="margin:0; padding-top:1em;"><b>Author</b></h6>
    <p align="center" style="margin:0; padding-top:0;">{{author}}</p>
    <h6 align="center" style="margin:0; padding-top:1em;"><b>Creation Date</b></h6>
    <p align="center" style="margin:0; padding:0;">{{creationDate}}</p>
  </div>

  <div class="loc-card__actions mdl-card__actions mdl-card--border" style="background-color:#fff;">
    <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/fullScreenMode" target="_blank">
      View FullScreen
      <i class="material-icons">chevron_right</i>
    </a>
  </div>

  <div ng-show="!descriptionShown" class="mdl-card__supporting-text" align="center">
    <div molecule-viewer url="../../media/pdb/1mbs.pdb" moltype="pdb" style='width:{{viewerWidth}}px; height:{{viewerHeight}}px; padding:0;margin:0; position:relative;'></div>
  </div>
</div>
