<!--LEFT MOLECULE-->
<div class="demo-card-square mdl-cell mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title right">
    <span class="mdl-layout-title">Tamiflu</span>
    <button id="tamifluButton" class="mdl-button mdl-js-button mdl-button--icon right">
      <i class="material-icons">more_vert</i>
    </button>

    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="tamifluButton">
      <li class="mdl-menu__item">Add Molecule to Playlist</li>
      <li class="mdl-menu__item">See Author</li>
      <li class="mdl-menu__item">Etc...</li>
    </ul>
  </div>
  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Riboflavin_molecule_animated.gif" width="340" height="200">
  </div>
  <div id="smallText" class="mdl-card__actions mdl-card--border mdl-card__supporting-text">
    The Tamiflu® drug binds to a protein on the influenza virus (neuraminidase) that the virus needs in order to infect cells. This structure shows the drug binding to, and inhibiting, the target protein, and hence helping to control infection by flu, including
    H1N1.
  </div>
</div>

<!--LEFT MOLECULE-->
<div class="demo-card-square mdl-cell mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title right">
    <span class="mdl-layout-title">HIV Protease</span>
    <button id="hivButton" class="mdl-button mdl-js-button mdl-button--icon right">
      <i class="material-icons">more_vert</i>
    </button>

    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="hivButton">
      <li class="mdl-menu__item">Add Molecule to Playlist</li>
      <li class="mdl-menu__item">See Author</li>
      <li class="mdl-menu__item">Etc...</li>
    </ul>
  </div>
  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Riboflavin_molecule_animated.gif" width="340" height="200">
  </div>
  <div id="smallText" class="mdl-card__actions mdl-card--border mdl-card__supporting-text">
    The Human Immunodeficiency Virus (HIV), responsible for AIDS, uses a protease (an enzyme) that is essential to its infection and reproduction. Scientists have designed an inhibitor of this enzyme that effectively stops viral growth, and has dramatically
    extended the healthy lifespans of HIV-infected individuals. This structure shows an animation of the drug binding to, and inhibiting, the HIV protease.
  </div>
</div>

<!--RIGHT MOLECULE-->
<div class="demo-card-square mdl-cell mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title right">
    <span class="mdl-layout-title">Ribosome</span>
    <button id="ribosomeButton" class="mdl-button mdl-js-button mdl-button--icon right">
      <i class="material-icons">more_vert</i>
    </button>

    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="ribosomeButton">
      <li class="mdl-menu__item">Add Molecule to Playlist</li>
      <li class="mdl-menu__item">See Author</li>
      <li class="mdl-menu__item">Etc...</li>
    </ul>
  </div>
  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Riboflavin_molecule_animated.gif" width="340" height="200">
  </div>
  <div id="smallText" class="mdl-card__actions mdl-card--border mdl-card__supporting-text">
    The Ribosome - the machine that makes protein is largely RNA! This structure led to the Nobel Prize in Chemistry in 2009. We used to think that proteins were the only biomacromolecules that could achieve catalysis. We now think that RNA was the primordialy
    enzyme.
  </div>
</div>

</div>









<!--NEW ROW of MOLECULES-->
<div id="shiftRight" class="mdl-grid">

  <!--LEFT MOLECULE-->
  <div class="demo-card-square mdl-cell mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title right">
      <span class="mdl-layout-title">RNA Polymerase</span>
      <button id="rnaButton" class="mdl-button mdl-js-button mdl-button--icon right">
        <i class="material-icons">more_vert</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="rnaButton">
        <li class="mdl-menu__item">Add Molecule to Playlist</li>
        <li class="mdl-menu__item">See Author</li>
        <li class="mdl-menu__item">Etc...</li>
      </ul>
    </div>
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Riboflavin_molecule_animated.gif" width="340" height="200">
    </div>
    <div id="smallText" class="mdl-card__actions mdl-card--border mdl-card__supporting-text">
      RNA polymerase transcribes DNA in cells into RNA copies - studied by the Martin lab at UMass.
    </div>
  </div>

  <!--LEFT MOLECULE-->
  <div class="demo-card-square mdl-cell mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title right">
      <span class="mdl-layout-title">DNA</span>
      <button id="dnaButton" class="mdl-button mdl-js-button mdl-button--icon right">
        <i class="material-icons">more_vert</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="dnaButton">
        <li class="mdl-menu__item">Add Molecule to Playlist</li>
        <li class="mdl-menu__item">See Author</li>
        <li class="mdl-menu__item">Etc...</li>
      </ul>
    </div>
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Riboflavin_molecule_animated.gif" width="340" height="200">
    </div>
    <div id="smallText" class="mdl-card__actions mdl-card--border mdl-card__supporting-text">
      DNA - the information storage molecule of life.
    </div>
  </div>

  <!--RIGHT MOLECULE-->
  <div class="demo-card-square mdl-cell mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title right">
      <span class="mdl-layout-title">CRABP</span>
      <button id="crabpButton" class="mdl-button mdl-js-button mdl-button--icon right">
        <i class="material-icons">more_vert</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="crabpButton">
        <li class="mdl-menu__item">Add Molecule to Playlist</li>
        <li class="mdl-menu__item">See Author</li>
        <li class="mdl-menu__item">Etc...</li>
      </ul>
    </div>
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Riboflavin_molecule_animated.gif" width="340" height="200">
    </div>
    <div id="smallText" class="mdl-card__actions mdl-card--border mdl-card__supporting-text">
      Cellular retinoic acid binding protein transports fatty acids in your cells - studied by the Gierasch lab at UMass.
    </div>
  </div>

</div>



<!--NEW ROW of MOLECULES-->
<div id="shiftRight" class="mdl-grid">

  <!--LEFT MOLECULE-->
  <div class="demo-card-square mdl-cell mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title right">
      <span class="mdl-layout-title">Acetophenone</span>
      <button id="aceButton" class="mdl-button mdl-js-button mdl-button--icon right">
        <i class="material-icons">more_vert</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="aceButton">
        <li class="mdl-menu__item">Add Molecule to Playlist</li>
        <li class="mdl-menu__item">See Author</li>
        <li class="mdl-menu__item">Etc...</li>
      </ul>
    </div>
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Riboflavin_molecule_animated.gif" width="340" height="200">
    </div>
    <div id="smallText" class="mdl-card__actions mdl-card--border mdl-card__supporting-text">
      Vibrational modes in acetophenone, a natural flavoring. Real molecules are not static, but vibrate with thermal energy.
    </div>
  </div>

  <!--LEFT MOLECULE-->
  <div class="demo-card-square mdl-cell mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title right">
      <span class="mdl-layout-title">Zero Calorie Fat I</span>
      <button id="zCalIButton" class="mdl-button mdl-js-button mdl-button--icon right">
        <i class="material-icons">more_vert</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="zCalIButton">
        <li class="mdl-menu__item">Add Molecule to Playlist</li>
        <li class="mdl-menu__item">See Author</li>
        <li class="mdl-menu__item">Etc...</li>
      </ul>
    </div>
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Riboflavin_molecule_animated.gif" width="340" height="200">
    </div>
    <div id="smallText" class="mdl-card__actions mdl-card--border mdl-card__supporting-text">
      A sugar-based zero-calorie fat developed by Proctor & Gamble. Although chemically, this molecule should behave like a fat, the unnatural linkage makes it not digestable by our cellular enzymes.
    </div>
  </div>

  <!--RIGHT MOLECULE-->
  <div class="demo-card-square mdl-cell mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title right">
      <span class="mdl-layout-title">Zero Calorie Fat II</span>
      <button id="zCalIIButton" class="mdl-button mdl-js-button mdl-button--icon right">
        <i class="material-icons">more_vert</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="zCalIIButton">
        <li class="mdl-menu__item">Add Molecule to Playlist</li>
        <li class="mdl-menu__item">See Author</li>
        <li class="mdl-menu__item">Etc...</li>
      </ul>
    </div>
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Riboflavin_molecule_animated.gif" width="340" height="200">
    </div>
    <div id="smallText" class="mdl-card__actions mdl-card--border mdl-card__supporting-text">
      A zero-calorie fat developed by Proctor & Gamble. Although chemically, this molecule should behave like a fat, the unnatural linkage makes it not digestable by our cellular enzymes.
    </div>
  </div>

</div>
