<div class="mdl-card mdl-shadow--4dp" style="width:auto;height:{{viewerHeight+150}}px;min-height:300px;">
  <div class="mdl-card__media" style="background-color:rgba(139, 195, 74, 1);color:white;" align="center">
    <h5>
      {{molName}}

      <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="descriptionShown = !descriptionShown" style="margin-left:3em;">
        <i class="material-icons">remove_red_eye</i>
      </button>
    </h5>
  </div>

  <div ng-show="descriptionShown" class="mdl-card__supporting-text" style='overflow-y:scroll;margin-bottom:53px;'>
    <p>{{desc}}</p>
    <p>{{author}}</p>
    <p>{{creationDate}}</p>
  </div>

  <div class="loc-card__actions mdl-card__actions mdl-card--border" style="background-color:#fff;">
    <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/fullScreenMode" target="_blank">
      View FullScreen
      <i class="material-icons">chevron_right</i>
    </a>
  </div>

  <div ng-show="!descriptionShown" class="mdl-card__supporting-text" align="center">
      <div molecule-viewer url="../../media/pdb/1mbs.pdb" moltype="pdb" style='width:{{viewerWidth}}px; height:{{viewerHeight}}px; padding:0;margin:0; position:relative;'></div>
  </div>
</div>
