<div class="mdl-layout__header-row">
  <a href="/">
    <span class="android-title mdl-layout-title">
      <!-- TODO: Figure out how to display text! -->
      <img class="mp-logo-image" src="media/img/logo.png">
      <!--<img class="android-logo-image" src="images/android-logo.png">-->
    </span>
  </a>
  <!-- Add spacer, to align navigation to the right in desktop -->
  <div class="android-header-spacer mdl-layout-spacer"></div>
  <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" id="search-field">
    </div>
  </div>
  <!-- Navigation -->
  <div class="android-navigation-container">
    <nav class="android-navigation mdl-navigation">
      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="molecules">Molecules</a>
      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Locations</a>
      <a class="mdl-navigation__link mdl-typography--text-uppercase">Set Up</a>
      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">FAQ</a>
      <a id="show-dialog" type="button" class="mdl-navigation__link mdl-typography--text-uppercase" href="/login">Login</a>
      <!--
      <dialog class="mdl-dialog">
      TODO : figure this out for Firefox, it's not working properly as of 3/26
      <h4 class="mdl-dialog__title">Login</h4>
        <div class="mdl-dialog__content">
          <form action="#">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="name">
              <label class="mdl-textfield__label" for="sample1">Email</label>
            </div>
          </form>
          <form action="#">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="password" id="pass">
              <label class="mdl-textfield__label" for="sample1">Password</label>
            </div>
          </form>
        </div>
        <div class="mdl-dialog__actions">
          <button type="button" class="mdl-button">Submit</button>
          <button type="button" class="mdl-button close">Register</button>
        </div>
      </dialog> -->
      <!--<script>
        var dialog = document.querySelector('dialog');
        var showDialogButton = document.querySelector('#show-dialog');
        if (!dialog.showModal) {
          dialogPolyfill.registerDialog(dialog);
        }
        showDialogButton.addEventListener('click', function() {
          dialog.showModal();
        });
        dialog.querySelector('.close').addEventListener('click', function() {
          dialog.close();
        });
      </script>-->
      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/register">Sign Up</a>
    </nav>
  </div>
  <span class="android-mobile-title mdl-layout-title">
    <!--<img class="android-logo-image" src="images/android-logo.png">-->
    <img class="mp-logo-image" src="media/img/logo.png">
  </span>
  <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
    <i class="material-icons">more_vert</i>
  </button>
  <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
    <li class="mdl-menu__item">5.0 Lollipop</li>
  </ul>
</div>
