<div class="playlist-manager mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
	<div id="playlist-main-section" class="mdl-card__supporting-text">
		<div class="mdl-grid">
			<!--repeating playlist div-->
			<div id="playlist-card" class="demo-card-square mdl-cell mdl-card mdl-shadow--2dp" ng-repeat="play in items">
				<h5 class="mdl-card__title" style="background-color: #8BC34A; color: white; margin-top: 0px; padding: 0px;">
					<div class="mdl-card__title" style="color: white; align-left: 2em; padding-left: 10%; overflow: hidden;">{{ play.name }}</div>
					<div>
						<button ng-click="toggleEdit($index)" id="editButton" class="mdl-button mdl-js-button mdl-button--icon" style="right: 10%; top:5%; position:absolute;">
							<i title="Edit" class="material-icons">edit</i>
						</button>
						<!--only shows remove pl button if current playlist is being edited-->
						<button  ng-show="curEditPlaylistIndx === $index && playlistEdit" ng-click="$event.stopPropagation(); removePlay($index);" id="removePlayButton" class="mdl-button mdl-js-button mdl-button--icon" style="right: .2%; top:5%; position:absolute;">
							<i title="Remove" class="material-icons">remove</i>
						</button>
					</div>
				</h5>
				<ul class="playlistElmement" ng-repeat="mol in play.molList" style="margin: 5px;">
					<li>{{ mol.name }}
						<button ng-show="playlistEdit" ng-click="removeMol($index)" id="removeMolButton" class="mdl-button mdl-js-button mdl-button--icon">
							<i title="Remove" class="material-icons">remove</i>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="position: fixed; bottom: 20px; right: 40px; z-index: 5;" ng-click="toggleCreateNewPlaylists(1)">
		<i class="material-icons">add</i>
	</button>
	<div id="togg" ng-show="showCreateNewPlaylists" class="mdl-cell mdl-cell--12-col mdl-shadow--2dp"> 
		<h5 style="margin-left: 2em;">Name Your Playlist</h5>
		<form ng-submit="addItem(); toggleCreateNewPlaylists(0)">
			<div>
				<p>
					<div class="mdl-textfield mdl-js-textfield" style="margin-left: 1em;">
						<input class="mdl-textfield__input" type="text" ng-model="temp">
						<label class="mdl-textfield__label" for="blah">Playlist Name...</label>
					</div>
				</p>
			</div>
			<button type="button" class="mdl-button close" style="align: left; background-color: #FF4081; color: white; margin-left: 1em; margin-bottom: 1em;">Cancel</button>
			<button type="submit" class="mdl-button" style="align: right; background-color: #FF4081; color: white; margin-bottom: 1em;">Create</button>
		</form>
	</div>
	<div class=" mdl-typography--text-center" style="background-color: #37474f;">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield">
			<input id="searchMolecules" class="mdl-textfield__input" type="text" ng-model='search.name' style="color:white">
			<label class="mdl-textfield__label" for="searchMolecules" style="color:lightgray;">search</label>
		</div>
	</div>

	<div class="mdl-grid" style="max-width:1000px;margin:auto;">
		<div class="mdl-cell" ng-repeat="mol in mols | filter:search" viewerId="{{mol.id}}">
			<molecule-card id='molecule-{{$index}}' index="{{$index}}" url='{{mol.url}}' dataType='{{mol.datatype}}' molName='{{mol.name}}' molDescription='{{mol.description}}' molAuthor='{{mol.author}}' molCreationDate='{{mol.creationDate}}'/>
		</div>
	</div>

