<div class="playlist-manager mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
	<div id="playlist-main-section" class="mdl-card__supporting-text">
		<div class="mdl-grid">
			<!--repeating playlist div-->
			<div id="playlist-card" class="demo-card-square mdl-cell mdl-card mdl-shadow--2dp" ng-repeat="play in items">
				<div class="mdl-card__title">
					<div class="mdl-card__title">{{ play.name }}</div>
					<button  ng-click="toggleEdit($index)" id="editButton" class="mdl-button mdl-js-button mdl-button--icon">
						<i title="Edit" class="material-icons">edit</i>
					</button>
					<!--only shows remove pl button if current playlist is being edited-->
					<button  ng-show="curEditPlaylistIndx === $index && playlistEdit" ng-click="$event.stopPropagation(); removePlay($index);" id="removePlayButton" class="mdl-button mdl-js-button mdl-button--icon">
						<i title="Remove" class="material-icons">remove</i>
					</button>
				</div>
				<ul class="playlistElmement" ng-repeat="mol in play.molList" style="margin: 5px;">
					<li>{{ mol.name }}
						<button  ng-click="removeMol($index)" id="removeMolButton" class="mdl-button mdl-js-button mdl-button--icon">
							<i title="Remove" class="material-icons">remove</i>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="position: fixed; bottom: 20px; right: 40px; z-index: 5;" ng-click="toggleCreateNewPlaylists(1)">
		<i class="material-icons">add</i>
	</button>
	<div id="togg" ng-show="showCreateNewPlaylists" class="mdl-cell mdl-cell--12-col">
		<h5>Name Your Playlist</h5>
		<div>
			<p>
				<form action="#">
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" ng-model="temp">
						<label class="mdl-textfield__label" for="blah">Playlist Name...</label>
					</div>
				</form>
			</p>
		</div>
		<button type="button" class="mdl-button close" style="align: left; color: #FF4081;">Cancel</button>
		<button type="button" class="mdl-button" ng-click="addItem(); toggleCreateNewPlaylists(0)" style="align: right; color: #FF4081;">Create</button>
	</div>
	<div class=" mdl-typography--text-center" style="background-color: #37474f;">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield">
			<input id="searchMolecules" class="mdl-textfield__input" type="text" ng-model='search.name' style="color:white">
			<label class="mdl-textfield__label" for="searchMolecules" style="color:lightgray;">search</label>
		</div>
	</div>

	<div class="mdl-grid" style="max-width:1000px;margin:auto;">
		<div class="mdl-cell" ng-repeat="mol in mols | filter:search" viewerId="{{mol.id}}">
			<molecule-card id='molecule-{{$index}}' index="{{$index}}" url='{{mol.url}}' dataType='{{mol.datatype}}' molName='{{mol.name}}' molDescription='{{mol.description}}' molAuthor='{{mol.author}}' molCreationDate='{{mol.creationDate}}'/>
		</div>
	</div>

