<!--<script>
  $('#select-all').click(function(event) {
    var selectstat = this.checked;
    // Iterate each checkbox
    $(':checkbox').each(function() {
      this.checked = selectstat;
    });
  });
</script>-->

<div class="android-screen-section">
  <a name="screens"></a>

  <!-- Container for schedule -->
  <div id="molplay-sched-container">


    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--8-col">

        <div class="mdl-card mdl-shadow--4dp">
          <div class="mdl-card__media">
            <h3>My Playground Schedule</h3>
          </div>
          <!-- FOR MDL SELECTABLE -->
          <div id="molplay-table-current-schedule">
            <table class="mdl-data-table mdl-js-data-table">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">
                  <!--<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="select-all" for="checkbox-head">-->
                  <label class="mdl-checkbox" id="select-all" for="checkbox-all">
                    <!-- Include name=__? -->
                    <input type="checkbox" id="checkbox-all" class="mdl-checkbox__input">
                  </label>
                  <!-- NOTE: Could also put title in same column: include span for mdl-checkbox_label here -->
                </th>
                <th class="mdl-data-table__cell--non-numeric">Playlist</th>
                <th class="mdl-data-table__cell--non-numeric">Start Time</th>
                <th class="mdl-data-table__cell--non-numeric">End Time</th>
              </tr>
            </thead>
            <tbody>
              <!--<tr>
                <schedule-list-item></schedule-list-item>
              </tr>-->
              <!-- TODO: toggle "is-selected" class when checkbox is clicked-->
              <tr ng-repeat="playlist in playlists">
                <td class="mdl-data-table__cell--non-numeric">
                  <!--<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-{{$index}}">-->
                  <label class="mdl-checkbox" for="checkbox-{{$index}}">
                    <!-- Include name=__? -->
                    <input type="checkbox" id="checkbox-{{$index}}" class="mdl-checkbox__input">
                  </label>
                  <!-- NOTE: Could also put title in same column: include span for mdl-checkbox_label here -->
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                  <span class="mdl-checkbox__label">{{playlist.name}}</span>
                </td>
                <td class="mdl-data-table__cell--non-numeric">{{playlist.startTime}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{playlist.endTime}}</td>
                <!--<script>
                  componentHandler.upgradeDom();
                </script>-->
              </tr>
            </tbody>
            </table>
          </div>

          <!-- NESTED ADD CARD -->
          <div ng-show="descriptionShown" id="molplay-table-add-playlist" class="mdl-card">
            <div class="mdl-card__media">
              <h5>Select Playlists</h5>
            </div>
            <table class="mdl-data-table mdl-js-data-table" style="width:100%;">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">
                    <label class="mdl-checkbox" id="select-all" for="checkbox-add-all">
                      <input type="checkbox" id="checkbox-add-all" class="mdl-checkbox__input">
                    </label>
  
                  </th>
                  <th class="mdl-data-table__cell--non-numeric">Playlist</th>
                </tr>
              </thead>
              <tbody>

                <tr ng-repeat="playlist in playlists">
                  <td class="mdl-data-table__cell--non-numeric">


                      <input type="checkbox" id="checkbox-add-{{$index}}" class="mdl-checkbox__input">
                   
                  </td>
                  <td class="mdl-data-table__cell--non-numeric">
                    <span class="mdl-checkbox__label">{{playlist.name}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="mdl-card__menu">
              <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="descriptionShown = !descriptionShown">
                <i class="material-icons">cancel</i>
              </button>
            </div>
          </div>
          <!-- End nested card -->

          <!-- Action buttons below table -->
          <div class="mdl-card__actions mdl-card--border mdl-typography--text-uppercase">

            <button id="demo-show-snackbar" class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="descriptionShown = !descriptionShown">
              <i class="material-icons">add</i>
            </button>
            Add Playlist
            <button ng-show="!descriptionShown" class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button mdl-js-ripple-effect right-actions" style="float:right;">
              <i class="material-icons">delete</i>
            </button>
          </div>

          <!-- Menu Items -->
          <div class="mdl-card__menu">
            <!-- Right aligned menu below button -->
            <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">more_vert</i>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
              <li class="mdl-menu__item">Some Action</li>
              <li class="mdl-menu__item">Another Action</li>
              <li disabled class="mdl-menu__item">Disabled Action</li>
              <li class="mdl-menu__item">Yet Another Action</li>
            </ul>
          </div>


        </div> <!-- end schedule card -->
      </div> <!-- end mdl-cell mdl-cell--8-col -->
    </div>  

  </div>
  <!-- END container for schedule -->


  <div class="android-screen-section mdl-typography--text-center">
    <a href="/fullScreenMode" target="_blank">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Run Schedule
      </button>
    </a>
  </div>

</div> <!-- end android-screen-section -->
