<script>
  $('#select-all').click(function(event) {
      var selectstat = this.checked;   
      // Iterate each checkbox
      $(':checkbox').each(function() {
          this.checked = selectstat;
      });
  });
</script>

<div class="android-screen-section">
  <a name="screens"></a>

  <div class="mdl-grid" id="molplay-sched-container">
    <!--<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet"></div>-->
    <div class="mdl-cell mdl-cell--8-col">
      <div class="mdl-card mdl-shadow--4dp">
        <div class="mdl-card__media">
          <h3>My Playground Schedule</h3>
        </div>
        <!-- FOR MDL SELECTABLE -->
        <!--<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable" style="position:relative;width:100%;">-->

        <!-- FOR CUSTOM SELECTABLE -->
        <table class="mdl-data-table mdl-js-data-table" style="position:relative;width:100%;">

          <thead>
            <tr>
              <!-- A BUNCH OF INSPECT-ELEMENT GARBAGE (FOR REFERENCE) -->
              <!--<th>
                <label data-upgraded=",MaterialCheckbox,MaterialRipple" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select mdl-js-ripple-effect--ignore-events is-upgraded">
                  <input class="mdl-checkbox__input" type="checkbox">
                  <span class="mdl-checkbox__focus-helper"></span>
                  <span class="mdl-checkbox__box-outline">
                    <span class="mdl-checkbox__tick-outline">
                    </span>
                  </span>
                    <span data-upgraded=",MaterialRipple" class="mdl-checkbox__ripple-container mdl-js-ripple-effect mdl-ripple--center">
                      <span style="width: 103.823px; height: 103.823px; transform: translate(-50%, -50%) translate(18px, 18px);" class="mdl-ripple is-animating">
                      </span>
                    </span>
                </label>
              </th>-->

              <!-- FOR CUSTOM SELECTABLE -->
              <th>
                <label class="mdl-checkbox mdl-js-checkbox" for="select-all">
                  <input type="checkbox" class="mdl-checkbox__input" name="select-all" id="select-all">
               </label>
              </th>


              <th class="mdl-data-table__cell--non-numeric">Playlist</th>
              <th>Start Time</th>
              <th>End Time</th>
            </tr>
          </thead>
          <tbody>
            <!-- FOR MDL SELECTABLE -->
            <!--<tr data-mdl-data-table-selectable-name="schedulelist[]" data-mdl-data-table-selectable-value={{p.name}} schedule-list-item name="{{p.name}}" starttime="{{p.startTime}}" endtime="{{p.endTime}}" ng-repeat="p in playlists"> </tr>-->

            <!-- FOR CUSTOM SELECTABLE -->
            <!-- TODO: toggle "is-selected" class when checkbox is clicked-->
            <tr schedule-list-item name="{{p.name}}" starttime="{{p.startTime}}" endtime="{{p.endTime}}" ng-repeat="p in playlists"> </tr>

          </tbody>
        </table>
        <!-- Action buttons below table -->
        <div class="mdl-card__actions mdl-card--border mdl-typography--text-uppercase">
          <a class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">add</i>
          </a>
          Add Playlist
          <a class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button mdl-js-ripple-effect right-actions" style="float:right;">
            <i class="material-icons">delete</i>
          </a>
        </div>
        <div class="mdl-card__menu">
          <!-- Right aligned menu below button -->
          <button id="demo-menu-lower-right"
                  class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>

          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              for="demo-menu-lower-right">
            <li class="mdl-menu__item">Some Action</li>
            <li class="mdl-menu__item">Another Action</li>
            <li disabled class="mdl-menu__item">Disabled Action</li>
            <li class="mdl-menu__item">Yet Another Action</li>
          </ul>
        </div>
      </div>
    </div>
    <!--<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet"></div>-->
  </div>

  <div class="android-screen-section mdl-typography--text-center">
    <a href="/fullScreenMode" target="_blank">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Run Schedule
      </button>
    </a>
  </div>

</div>
