 <html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Molecular Playground</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="javascripts/bundle.js"></script>
  <script src="https://code.getmdl.io/1.1.1/material.min.js"></script>

</head>
<body ng-app="MolApp">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col"></div>
  </div>
  <div class="mdl-grid" ng-controller="RegistrationCtrl">
    <div class="mdl-cell mdl-cell--12-col" align= "center">
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Register</h2>
          <br>
        </div>
        <div class="mdl-card__supporting-text" ng-if="showStatusMessage()">
           {{statusMessage}}
         </div>
        <form ng-submit="register()" ng-model="form">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name="username" id="username" ng-model="username" ng-change="showStatusMessage()">
            <label class="mdl-textfield__label" for="username">Enter a Username</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name = "email" id="email" ng-model="email" ng-change="showStatusMessage()">
            <label class="mdl-textfield__label" for="email">Enter an Email Address</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" name="password" id="password" ng-model="password" ng-change="showStatusMessage()">
            <label class="mdl-textfield__label" for="password">Enter a Password</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" name="passwordConfirm" id="passwordConfirm" ng-model="passwordConfirm" ng-change="showStatusMessage()">
            <label class="mdl-textfield__label" for="passwordConfirm">Confirm Password</label>
          </div>
        <div class="mdl-card__actions mdl-card--border">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="register()">
            Create
          </button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="toLogin()">
                Log In Instead
          </button>
        </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
